.footer1 {
  padding: 8px 12px;
  border-radius: 50px;
  position: fixed;
  left: 50%; /* set left to 50% */
  transform: translateX(-50%); /* move the element back by 50% of its own width */
  bottom: 20px;
  display: inline-flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 8px 12px;
  border-radius: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: inline-flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
/* Footer.css */

/* Default font size */
.footer1,
.footer {
  font-size: 6px;
}

/* Media queries for different device widths */
@media only screen and (min-width: 600px) {
  .footer1,
  .footer {
    font-size: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .footer1,
  .footer {
    font-size: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .footer1,
  .footer {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer1,
  .footer {
    font-size: 14px;
  }
}
